<mat-card class="example-card" appearance="outlined">
    <mat-card-header class="header-container">
        <div mat-card-avatar class="example-header-image"></div>
        <div class="title-container">
          <mat-card-title>Lista de invitados</mat-card-title>
          <mat-card-subtitle class="right-align">Invitaciones confirmadas: {{ totalConfirmados }}, sin confirmar: {{ totalSinConfirmar }}</mat-card-subtitle>
          <mat-card-subtitle class="right-align">Adultos que asistirán: {{totalAdultos$}}</mat-card-subtitle>
          <mat-card-subtitle class="right-align">Niños que asistirán: {{totalMenores$}}</mat-card-subtitle>
        </div>
      </mat-card-header>
    <mat-card-content>
        <form>
            <div class="mb-3 row">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" 
                    (keydown)="onKeydown($event)" />
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">No. Invitados</th>
                    <th scope="col">No. Confirmados</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (invitado of filteredInvitados$ | async; track invitado.nombre; let i = $index) {
                    <tr>
                        <th scope="row">{{ invitado.idInvitacion }}</th>
                        <td>
                            <ngb-highlight [result]="invitado.nombre" [term]="filter.value" />
                        </td>
                        <td>
                            <ngb-highlight 
                                [result]="(invitado.adultos + invitado.menores) | number" 
                                [term]="filter.value"></ngb-highlight> 
                            ({{ invitado.adultos }} Adultos, {{ invitado.menores }} Niños)
                        </td>
                        <td>
                            <ngb-highlight 
                            [result]="invitado.estado | estadoDescriptivo: invitado.fechaExpiracion" 
                            [term]="filter.value"></ngb-highlight> 
                            ({{ invitado.invitacionConfirmacion?.adultosConfirmados ?? 0}} Adultos, {{ invitado.invitacionConfirmacion?.menoresConfirmados ?? 0}} Niños)
                        </td>
                        <td>
                            <ngb-highlight [result]="invitado.telefono" [term]="filter.value" />
                        </td>
                        <td><ngb-highlight [result]="invitado.estado == 'P'? getFechaLocalString(invitado.fechaExpiracion) < getFechaLocal()? 'Expirada':'Pendiente': 'Confirmada' " [term]="filter.value" /></td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" (click)="editarInvitacion(invitado.idInvitacion)"> <i class="fa fa-pencil"> </i></button>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" (click)="eliminarInvitacion(invitado.idInvitacion)"> <i class="fa fa-trash"> </i></button>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Link de invitación" (click)="GetLinkInvitacion(invitado.idInvitacion,invitado.telefono)" ><i class="fa fa-link"> </i></button>
                        </td>
                    </tr>
                } @empty {
                    <tr>
                        <td colspan="4" style="text-align: center">No se encontraron coincidencias</td>
                    </tr>
                }
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" class="btn btn-success" (click)="open(content)">Nuevo invitado</button>
    </mat-card-actions>
</mat-card>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Nuevo invitado</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="invitacionForm">
            <div class="input-group mb-3">
              <span class="input-group-text">Nombre</span>
              <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre" maxlength="499"/>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Fecha de expiración</span>
              <input formControlName="FechaExpiracion" type="datetime-local" class="form-control" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Adultos</span>
              <input formControlName="Adultos" type="number" class="form-control" placeholder="# Adultos" />
              <span class="input-group-text">Niños</span>
              <input formControlName="Menores" type="number" class="form-control" placeholder="# Niños" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Teléfono</span>
              <input formControlName="Telefono" type="text" class="form-control" />
            </div>
          </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="crearInvitacion()">Guardar</button>
	</div>
</ng-template>




<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar invitación</h5>
          <button type="button" class="btn-close" (click)="CerrarModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext texto-propiedad" id="lblfecha" value="ID invitación">
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="idInvitacion" [(ngModel)]="invitacionXEditar.idInvitacion" disabled>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext texto-propiedad" id="lblNombre" value="Nombre">
                    </div>
                    <div class="col-9 col-md-5">
                        <input type="text" class="form-control" id="Nombre" [(ngModel)]="invitacionXEditar.nombre" maxlength="499">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext texto-propiedad" id="lblTelefono" value="Teléfono">
                    </div>
                    <div class="col-9 col-md-5">
                        <input type="text" class="form-control" id="Telefono" [(ngModel)]="invitacionXEditar.telefono" maxlength="24">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext texto-propiedad" id="lblfecha" value="Fecha de expiración">
                    </div>
                    <div class="col-9 col-md-5">
                        <input type="datetime-local" multiple class="form-control" id="fecha" [(ngModel)]="invitacionXEditar.fechaExpiracion">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext texto-propiedad" id="lblAdultos" value="No. Adultos">
                    </div>
                    <div class="col-9 col-md-5">
                        <input type="number" multiple class="form-control" id="Adultos" [(ngModel)]="invitacionXEditar.adultos" min="0">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <input type="text" readonly class="form-control-plaintext texto-propiedad" id="lblNinos" value="No. Niños">
                    </div>
                    <div class="col-9 col-md-5">
                        <input type="number" multiple class="form-control" id="Ninos" [(ngModel)]="invitacionXEditar.menores" min="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="CerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="ActualizarInvitacion()">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>